{
	"internal_sd":"/data/media",
	"external_sd":"true",
	"data_block":"/dev/block/bootdevice/by-name/userdata",
	"cache_block":"/dev/block/bootdevice/by-name/cache",
	"recovery_block":"/dev/block/bootdevice/by-name/recovery",
	"ro_build_product":"leo",
	"ro_product_device":"leo",
	"target_sdk_version":"23",
	"bootloader":{
	"fastboot_flash_recovery":"true",
	"fastboot_boot_recovery":"true",
	"bootloader_locked":"true",
	"unlock_tutorial":"http://www.zllclub.com/thread-2-1-1.html"
	}
}
